
data-main/state/StateVertical.csv

data-cds/assessments/AssessmentPanel.csv

data-cds/childcare/ChildCarePanel.csv

data-cds/childcare/ChildcarePreK97.csv

.Rproj.user
.Rhistory
.RData
.Ruserdata
data-main/labor-market/earnings-panel.csv

data-cds/time-diary/ActiveTimePanel.csv
data-main/state/state-vertical.csv
PSID_RAW/Exp0207/Expenditures_clean.Rmd
PSID_RAW/Exp0207/Exp_labels.txt
PSID_RAW/Exp0207/Exp_codebook.pdf
PSID_RAW/Exp0207/Exp.csv
PSID_CLEAN/Expenditures_0207.csv
data-cds/assessments/PCG-PC-clean.csv
data-derived/MotherPanelCDS.csv
.Rproj.user/A5CCC07A/pcs/files-pane.pper
.Rproj.user/A5CCC07A/pcs/source-pane.pper
.Rproj.user/A5CCC07A/pcs/windowlayoutstate.pper
.Rproj.user/A5CCC07A/pcs/workbench-pane.pper
.Rproj.user/A5CCC07A/pcs/files-pane.pper
.Rproj.user/A5CCC07A/pcs/files-pane.pper
.Rproj.user/A5CCC07A/pcs/workbench-pane.pper
.Rproj.user/A5CCC07A/pcs/windowlayoutstate.pper
.DS_Store
.Rproj.user/A5CCC07A/pcs/files-pane.pper
.Rproj.user/A5CCC07A/pcs/source-pane.pper
.Rproj.user/A5CCC07A/pcs/windowlayoutstate.pper
.Rproj.user/A5CCC07A/pcs/workbench-pane.pper
